.root {
  position: relative;
  width: 100%;
  aspect-ratio: var(--compare-aspect-ratio);
  overflow: hidden;
  touch-action: none;
  user-select: none;
}

.leftSection,
.rightSection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3px;
  transform: translateX(-50%);
  cursor: col-resize;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderLine {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--mantine-color-dark-9);
  z-index: 1;
  pointer-events: none;
}

.sliderButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: none;
  pointer-events: auto;
}
