.root {
  position: relative;
  width: 100%;
  aspect-ratio: var(--compare-aspect-ratio);
  overflow: hidden;
  touch-action: none;
  user-select: none;
}

/* Fixed variant - no pointer events on slider */
.root[data-variant='fixed'] .slider {
  pointer-events: none;
}

.leftSection,
.rightSection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider {
  position: absolute;
  cursor: move;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderLine {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  transform: translateY(-50%);
  background-color: var(--mantine-color-dark-9);
  z-index: 1;
  pointer-events: none;
}

.sliderButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: none;
  pointer-events: auto;
}
